body {
    width: 100%;
  
}

.topSection {
    text-align: center;
    background-color: grey;
}



.userInput {
    margin-top: 50px;
    border: 1px solid #cccccc;
}

.form-group {
    padding: 10px;
}

.form {
    padding: 10px;
}

#submit{
    padding: 10px;
}

label {
    padding-bottom: 5px;
}

.table{
    border: 1px solid #cccccc;
}

.card-header{
    border: 1px solid #cccccc;
    border-radius: 4px;
}